body{background-image: url("trinity.jpg"); width:100%; height:1024px; margin:0
}

* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

.homeinfo{position:absolute;bottom:80px;left:430px;
border:groove 4px rgb;
color:rebeccapurple;
font-weight:regular;
font-style:italic;
font-size:20px;
background-color:rgb(50,50,150);
height:660px;width:330px;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Italic,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
.footer{position:fixed;left:800px}
