

.profile1{position:absolute;top:100px;left:790px;}
.profile2{position:absolute;top:100px;left:900px;}
.profile3{position:absolute;top:10px;left:790px;}
body{background-image: url("trinity.jpg"); width:100%; height:1024px; margin:0
}

* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
.footer{position:fixed;left:800px}
